<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="WolfRadio - FM Stereo Modulator (Admin)" Manufacturer="Freewaves" Version="0.1.2" UpgradeCode="D59DB6CE-7F2F-4A19-B602-2D930CD2AA70" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="È già installata una versione più recente." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="WolfRadio - FM Stereo Modulator" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="WolfRadio - FM Stereo Modulator">
        <Component Id="MenuShortcut" Guid="7BA90BD0-B35B-48C9-AFC4-74D52D077AB6">
          <Shortcut Id="ApplicationStartMenuShortcut" Name="WolfRadio - FM Stereo Modulator" Target="[INSTALLFOLDER]WolfRadio.exe" WorkingDirectory="INSTALLFOLDER" Icon="WolfRadioInstallerIcon" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKLM" Key="Software\Freewaves\WolfRadio" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
    <Icon Id="WolfRadioInstallerIcon" SourceFile="$(IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="WolfRadioInstallerIcon" />
    <Feature Id="MainFeature" Title="WolfRadio - FM Stereo Modulator">
      <ComponentGroupRef Id="INSTALLFOLDER_COMPONENTS" />
      <ComponentRef Id="MenuShortcut" />
    </Feature>
  </Package>
  <Fragment>
    <ComponentGroup Id="INSTALLFOLDER_COMPONENTS" Directory="INSTALLFOLDER">
      <Files Include="$(PublishDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
