<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="WolfRadio - FM Stereo Modulator" Manufacturer="Freewaves" Version="0.1.2" UpgradeCode="BA09CDF0-F2D9-4BC7-B9D6-AD55AD0BE39A" Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="È già installata una versione più recente." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="WolfRadio - FM Stereo Modulator" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="WolfRadio - FM Stereo Modulator">
        <Component Id="MenuShortcut" Guid="E9228545-8DB2-4938-B274-9C0DAD623E7E">
          <Shortcut Id="ApplicationStartMenuShortcut" Name="WolfRadio - FM Stereo Modulator" Target="[INSTALLFOLDER]WolfRadio.exe" WorkingDirectory="INSTALLFOLDER" Icon="WolfRadioInstallerIcon" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Freewaves\WolfRadio" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
    <Icon Id="WolfRadioInstallerIcon" SourceFile="$(IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="WolfRadioInstallerIcon" />
    <Feature Id="MainFeature" Title="WolfRadio - FM Stereo Modulator">
      <ComponentGroupRef Id="INSTALLFOLDER_COMPONENTS" />
      <ComponentRef Id="MenuShortcut" />
    </Feature>
  </Package>
  <Fragment>
    <ComponentGroup Id="INSTALLFOLDER_COMPONENTS" Directory="INSTALLFOLDER">
      <Files Include="$(PublishDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
